<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Tiny Code Snippets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- favicons -->
    <link rel="apple-touch-icon" href="public/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" sizes="196x196" href="public/assets/images/favicon.png">

    <!-- our built out custom styles -->
    <link rel="stylesheet" href="build/css/styles.min.css">
  </head>
  <body>
    {{{body}}}

    <!-- jQuery -->
    <!-- <script src="libs/jquery/dist/jquery.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


    <!-- Scripts -->
    <script src="public/assets/js/page.min.js"></script>
    <script src="public/assets/js/script.js"></script>

    <!-- custom js -->
    <script src="build/js/app.min.js"></script>
  </body>
</html>
