<section class="section py-7">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-md-6">
        <p class="lead mb-0 text-center text-md-left">Want to learn JavaScript/HTML/CSS? Subscribe or follow us to receive the latest news to know when we launch!</p>
      </div>

      <div class="col-md-4 ml-auto">
        <form class="input-round justify-content-center justify-content-lg-end" action="" method="post">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-envelope"></i></span>
            </div>
            <input id="email" type="text" name="EMAIL" class="form-control" placeholder="Email Address">
            <span class="input-group-append">
              <button class="btn btn-info subscribe">Subscribe</button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <div class="social social-sm social-bg-brand social-cycling">
      <a class="social-facebook" href="https://www.facebook.com/Tiny-Code-Snippets-355043841785833/?modal=admin_todo_tour" target="_blank"><i class="fa fa-facebook"></i></a>
      <a class="social-twitter" href="https://twitter.com/tinycodesnips" target="_blank"><i class="fa fa-twitter"></i></a>
      <a class="social-instagram" href="https://www.instagram.com/tinycodesnippets/" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</section>
<!-- Header -->
<header class="header text-white h-fullscreen py-0" style="background-image: url(../assets/img/bg/1.jpg); " data-overlay="7">
  <div class="container text-center">

    <div class="row h-100 align-items-center">
      <div class="col-lg-8 mx-auto">

        <h1 class="display-1 text-uppercase ls-3 fw-500">Coming soon!</h1>
        <br><br>
        <p class="lead">Tiny Code Snippets is a source for learning &lt;Code /&gt; tidbits.</p>

        <br><br>



        <h5><strong>TinyCodeSnippets will launch in</strong></h5>
        <br>
        <div class="countdown countdown-sm countdown-outline countdown-light countdown-uppercase" data-countdown="2019/08/10"></div>

      </div>
    </div>

  </div>
</header><!-- /.header -->



<!-- Footer -->
<footer class="footer">
  <div class="container text-center">



    <br>

    <p class="small">Copyright © 2019 TinyCodeSnippets, All rights reserved.</p>

  </div>
</footer><!-- /.footer -->